[Unit]
Description=TTL changer

[Service]
Type=oneshot
ExecStart=/sbin/iptables -t mangle -A POSTROUTING -j TTL --ttl-set 65

[Install]
WantedBy=multi-user.target
