[Unit]
Description=ZeroNet network
After=network.target
After=tor.service

[Service]
Type=simple
User=zeronet
Group=zeronet
WorkingDirectory=/home/zeronet/ZeroBundle/ZeroNet/
ExecStart=/home/zeronet/ZeroBundle/Python/python zeronet.py --config_file /etc/zeronet.conf
# Restart=on-failure
# RestartSec=15
TimeoutSec=300

[Install]
WantedBy=multi-user.target
