[Unit]
Description=set random wallpaper
Wants=wallpaper-changer.timer
User=himura

[Service]
Type=oneshot
ExecStart=/opt/set-random-wallpaper.sh /home/himura/Pictures/Wallpapers

[Install]
WantedBy=multi-user.target
