[Unit]
Description=set random wallpaper
Requires=wallpaper-changer.service

[Timer]
Unit=wallpaper-changer.service
OnCalendar=daily

[Install]
WantedBy=timers.target
